{% extends 'driverAssist/baseTemplate.html' %}
 {% block mainTitle %}Navigation {%endblock mainTitle %} 

 {% comment %} css {% endcomment %} 
 {% load static %} 
 {%block mainCss %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'driverAssist/css/home.css' %}"
/>
{% endblock mainCss %} 
{% comment %} body {% endcomment %}
 {% block mainBody %}
<div class="content">
    this is navigation page
    {% comment %} <img src="{% static 'driverAssist/merce.jpg' %}" alt=""> {% endcomment %}
</div>
{% endblock mainBody %}
